@font-face {
    font-family: "FigtreeItalic";
    src: url("assetsonts/Figtree-Italic-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Figtree";
    src: url("assetsonts/Figtree-VariableFont_wght.ttf");
}

@font-face {
    font-family: "FigtreeExtraBold";
    src: url("assetsonts/static/Figtree-ExtraBold.ttf");
}

@font-face {
    font-family: "FigtreeSemiBold";
    src: url("assetsonts/static/Figtree-SemiBold.ttf");
}

* {
    box-sizing: border-box;
}

html{
    font-size:62.5%;
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%);
    --Shadow:rgba(0, 0, 0, 1);
}

body {
    background-color: hsl(47, 88%, 63%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    font-family: 'Figtree', sans-serif;
    color: var(--Black);

    padding: 1.25rem;
    background-color: var(--White);

    width: 28rem;

    display: flex;
    flex-direction: column;
    justify-content: start;

    border: 0.125rem solid var(--Black);
    border-radius: 1.25rem;
    box-shadow: 0.5rem 0.5rem 0.125rem var(--Shadow);
    transition: 0.2s;
}

.card:hover{
    box-shadow: 0.75rem 0.75rem 0.125rem var(--Shadow);
    margin-right: 1rem;
}

.card .card-image > img {
    border-radius: 0.625rem;
    width:100%;
    height:100%;
}

.card .card-header {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card .card-header .tag {
    background-color: var(--Yellow);
    padding: 0.5em 1.1em;

    border-radius: 0.25rem;

    align-self: flex-start;

    font-weight: 800;
    font-size: 1rem;
}

.card .card-header .published-at {
    font-weight: 400;
    font-size: 1.1rem;
}

.card .card-body > h2 {
    font-size: 2rem;
    font-weight: 800;
}
.card .card-body > h2:hover {
    cursor: pointer;
    color: var(--Yellow);
}

.card .card-body > p {
    font-size: 1.2rem;
    color: var(--Grey);
}

.card-footer {
    display: flex;
    justify-self: start;
    align-items: center;
}

.card .card-footer > img {
    width: auto;
    height: 1.875rem;
    margin-right: 0.938rem;
}

.card .card-footer .name > span {
    font-weight: 800;
}

footer {
    position: fixed;
    bottom: 0.313rem;
}

@media only screen and (max-width: 376px) {
    .card {
        height: fit-content;
        width: 26rem;
    }
}
